<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>

  <body>
    <p> This is the root of the RESTful API. You can log in with Facebook credentials below to generate a token. </p>
    <p> The Facebook login below is probably for testing only. Final server will use the token sent by the iOS SDK </p>

    <p> TODO: iOS app will send a token in the header. Use this token to:
        <ul>
        <li> POST: Update position of user associated with token </li>
        <li> GET: Return position of target user only if user is a friend of requester </li> 
        </ul>
    </p>


    <a href="/auth/facebook"> Log in With Feisu-Bukku </a>

  </body>

</html>
