<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>

  <body>
    <p> This is the root of the RESTful API. Developers can get a Facebook token <a href="https://developers.facebook.com/tools/explorer">here</a>. </p>

    <p> <b>Route parameters</b> (at api/runner - all requests should have an access-token header):
        <ul>
        <li> POST: Update position of user associated with token </li>
          <ul>
          <li>id (optional)</li>
          <li>latitude</li>
          <li>longitude</li>
          <li>timestamp</li>
          </ul>
        <li> GET: Return position of target only if user is a friend of requester </li> 
          <ul>
          <li>id (of target)</li>
          </ul>
        </ul>
    </p>


  </body>

</html>
